<!DOCTYPE html>
<html>
  <head>
    <title>ACQUIRE</title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <script src="/scripts/buy_stocks.js"></script>
    <script src="/scripts/establish_corporation.js"></script>
    <script src="/scripts/game.js"></script>
  </head>

  <body>
    <section id="activity-log-overlay" class="overlay">
      <section class="log-container" id="activity-log">
        <section class="activity-log-header">
          <span style="margin-left: 33.333%">ACTIVITY LOG</span>
          <img src="/images/close-btn.png" id="close-overlay-btn" />
        </section>
        <section class="activity-log-body" id="activity-log-body"></section>
      </section>
    </section>
    <section class="overlay" id="game-end-overlay">
      <section id="game-results" class="game-results">
        <h1>Game Results</h1>
        <table>
          <thead>
            <th>Rank</th>
            <th>Player Name</th>
            <th>Money</th>
          </thead>
          <tbody id="game-results-body"></tbody>
        </table>
      </section>
    </section>

    <section id="overlay-buy-stock" class="overlay-buy-stock">
      <section class="buy-stock-container">
        <div class="buy-stocks-money" id="buy-stocks-money"></div>
        <table class="table">
          <thead>
            <tr>
              <td>
                Corporations
              </td>
              <td>
                Shares
              </td>
              <td>
                Price
              </td>
            </tr>
          </thead>
          <tbody id="buy-stocks-body"></tbody>
        </table>
        <div id="error-msg-at-buying"></div>
        <div class="done-button-div">
          <button id="done-button">Done</button>
        </div>
      </section>
    </section>

    <section id="found-corporation-overlay">
      <section
        id="found-corporation"
        class="found-corporation"
        style="display:none;border:1px solid black;"
      >
        <div class="establish-corp-heading">
          Select a corporation to establish
        </div>
        <div id="corporation-btns"></div>
      </section>
    </section>

    <header id="game-header" style="display: none">
      <h1 class="app-title">ACQUIRE</h1>
      <span class="player-name-header" id="player-name">Hi Dheeraj!</span>
    </header>
    <main>
      <section class="waiting-area" id="waiting-area">
        <p style="text-align:center" id="game-id">Game Id:<%= gameId %></p>
        <p><%= message %></p>
        <div id="joined-player-names" style="display:none"></div>
        <img class="img-medium" src="/images/loading.gif" alt="loading" />
      </section>
      <section id="game-container" style="display: none" class="game-container">
        <section class="game-top">
          <div class="status-bar" id="player-log">
            You got tile 3A.
          </div>
        </section>
        <section class="game-main">
          <div class="player-names-section">
            <div class="player-names" id="player-names-container"></div>
          </div>
          <div class="game-board-container" id="game-board-container"></div>

          <div class="game-information-container">
            <table class="corporation-details">
              <thead>
                <th>Corporation</th>
                <th>Size</th>
                <th>Price</th>
                <th>Stocks</th>
              </thead>
              <tbody id="corporation-details-body"></tbody>
            </table>
            <div class="activity-log">
              <h3 class="heading-medium">Activity Log</h3>
              <ul id="activity-log"></ul>
            </div>
          </div>
        </section>
        <section class="player-info">
          <div class="money-section flex-column">
            <h2>Money</h2>
            <div class="player-money" id="player-money">$6000</div>
          </div>
          <div class="tiles-section flex-column">
            <h2>Tiles</h2>
            <div
              class="tiles  flex-row-space-evenly"
              id="player-tiles-container"
            ></div>
          </div>
          <div class="stocks-section flex-column">
            <h2>Stocks</h2>
            <div
              class="flex-row-space-evenly"
              id="player-stocks-container"
            ></div>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
