.currentTurn {
  background-color: pink;
}

.Quantum {
  background-color: rgb(94, 226, 220);
}

.Phoenix {
  background-color: rgb(178, 171, 235);
}

.America {
  background-color: rgb(51, 175, 247);
}

.Hydra {
  background-color: rgb(243, 143, 20);
}

.Fusion {
  background-color: rgb(152, 226, 3);
}

.Sackson {
  background-color: #ffa69e;
}

.Zeta {
  background-color: rgb(243, 191, 22);
}

.unIncorporated {
  background-color: rgb(165, 164, 164);
}
