html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

header {
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;

  box-sizing: border-box;
}

.app-title {
  margin-left: 1%;
}

.player-name-header {
  font-size: 18px;
  margin-right: 1%;
}

main {
  height: 94%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.game-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.table {
  height: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.app-title {
  margin-left: 1%;
}

.game-top {
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-main {
  height: 78%;
  display: flex;
}

.game-information-container {
  width: 26%;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.activity-log-section {
  padding: 4px;
  height: 45%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #454545;
  width: 90%;
  border: 1px solid gray;
}

.activity-log {
  height: 80%;
  overflow-y: auto;
}

.heading-medium {
  text-align: center;
  margin-bottom: 0px;
  color: rgb(50, 50, 50);
}

.player-info {
  height: 16%;
  outline: 1px solid black;
}

.game-board-container {
  width: 58%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  height: 97%;
  width: 97%;
  background: whitesmoke;
}

.board-tile {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 11.1111%;
  width: 8.3333%;
  color: rgb(55, 55, 55);
  background-color: #e6e6e6;
}

.unincorporated-tile {
  background: rgb(177, 177, 177);
}

.last-placed-tile {
  border: 2px solid rgb(58, 58, 58);
}

.status-bar {
  width: 58%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.player-names {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  height: 16.66%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.current-player {
  background: #66c993;
  color: white;
  font-size: 18px;
  width: 102%;
  box-shadow: -6px 0 6px -6px #333, 6px 0 6px -6px #333;
  border-radius: 3px;
}

.player-name-header {
  font-size: 18px;
  margin-right: 1%;
}

.player-names-section {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.corporation-details {
  padding: 4px;
  border-collapse: collapse;
  color: rgb(50, 50, 50);
  background: white;
  width: 90%;
  text-align: center;
  height: 48%;
  border: 1px solid gray;
}

.corporation-details th {
  font-size: 18px;
  font-weight: bolder;
}

.corporation-details tr {
  border-bottom: 1px solid rgb(102, 101, 101);
}

ul {
  padding-left: 8px;
  padding-bottom: 2px;
  list-style: none;
}

ul > li {
  margin-bottom: 8px;
  border-bottom: 1px dotted gray;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-row-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.money-section {
  width: 15%;
  text-align: center;
  border-right: 1px solid gray;
}

.tiles-section {
  width: 40%;
  text-align: center;
  border-right: 1px solid gray;
}

.tiles {
  height: 50%;
  width: 100%;
}

.stocks-section {
  text-align: center;
  width: 45%;
}

.player-info {
  display: flex;
}

.player-money {
  color: rgb(85, 85, 85);
  font-size: 22px;
}

.player-tile {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: 0px 0px 1px black;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  border: 1px solid gray;

  height: 92%;
  width: 10%;

  color: #555454;
  background: white;
  opacity: 1;
  transition: opacity 1000ms linear;
}

.player-tile:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 1px black;
  font-weight: bold;
  color: black;
}

.player-stock > p {
  font-size: 14px;
  font-weight: bold;
}

.player-stock {
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 3px;
}

.stock-count {
  font-size: 18px;
  font-weight: bold;
}

.phoenix-color {
  background-color: #a590dc;
}

.hydra-color {
  background-color: #fc9f5b;
}

.fusion-color {
  background-color: #76c788;
}

.america-color {
  background-color: #5ca4df;
}

.zeta-color {
  background-color: #ffd761;
}

.sackson-color {
  background-color: rgb(245, 136, 143);
}

.quantum-color {
  background-color: #6bc3d1;
}

.disabled {
  background-color: lightgray;
  border: 1px solid lightgray;
  color: gray;
}

.disabled:hover {
  cursor: default;
  border: 1px solid lightgray;
  font-weight: normal;
  color: gray;
}

.waiting-area {
  height: 480px;
  width: 340px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: white;
  box-shadow: 0px 0px 3px 1px gray;
}

.img-medium {
  width: 96px;
  height: 96px;
}

.found-corporation {
  height: 40%;
  width: 70%;
  border: 1px solid black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 3px 1px gray;
}

.Quantum-btn,
.Phoenix-btn,
.America-btn,
.Hydra-btn,
.Fusion-btn,
.Sackson-btn,
.Zeta-btn {
  height: 30%;
  width: 25%;
}

.establish-corp-heading {
  font-size: 30px;
  color: black;
}

.game-results {
  height: 30%;
  width: 30%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border-radius: 3%;
  text-align: center;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.75);
  justify-content: flex-start;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(85, 90, 85, 0.3);
}

#close-overlay-btn {
  height: 25px;
  width: 25px;
  margin-right: 2%;
}

.log-container {
  height: 50%;
  width: 30%;
  background-color: white;
  border-radius: 3%;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.75);
}

.log-message {
  margin: 2% 5%;
  border-bottom: dotted lightgrey 1px;
  display: flex;
  justify-content: space-between;
}

.overlay-buy-stock {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(85, 90, 85, 0.3);
}

.overlay-buy-stock table {
  margin-left: 5%;
}

.overlay-buy-stock td button {
  height: 25px;
  width: 25px;
}

.buy-stock-container {
  height: 50%;
  width: 30%;
  background-color: bisque;
  border-radius: 3%;
  box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buy-stocks-money {
  height: 10%;
  width: 100%;
  text-align: center;
}

.done-button-div {
  height: 10%;
  background-color: blanchedalmond;
  text-align: center;
}

.done-button-div button {
  height: 35px;
  width: 60px;
  border-radius: 5px;
}

#error-msg-at-buying {
  height: 10%;
  text-align: center;
}
