html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background-image: url('/images/acquire-back-img.jpg');
}

header {
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  background: whitesmoke;
  box-sizing: border-box;
}

.app-title {
  margin-left: 1%;
}

.player-name-header {
  font-size: 18px;
  margin-right: 1%;
}

main {
  height: 94%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.table {
  height: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.app-title {
  margin-left: 1%;
}

.game-top {
  height: 6%;
  display: flex;
  margin-right: 2%;
  justify-content: flex-end;
  align-items: center;
}

.game-main {
  height: 78%;
  display: flex;
}

.game-information-container {
  width: 26%;
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.activity-log-section {
  padding: 4px;
  height: 45%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #454545;
  width: 90%;
  border: 1px solid gray;
}

.activity-log {
  height: 80%;
  overflow-y: auto;
}

.heading-medium {
  text-align: center;
  margin-bottom: 0px;
  color: rgb(50, 50, 50);
}

.player-info {
  height: 16%;
  outline: 1px solid black;
}

.game-board-container {
  width: 58%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  height: 97%;
  width: 97%;
  background: whitesmoke;
}

.board-tile {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  height: 11.1111%;
  width: 8.3333%;
  color: rgb(55, 55, 55);
  background-color: #e6e6e6;
}

.unincorporated-tile {
  background: rgb(177, 177, 177);
}

.last-placed-tile {
  border: 2px solid rgb(58, 58, 58);
}

.status-bar {
  width: 58%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.player-names {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-name {
  height: 16.66%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.current-player {
  background: #66c993;
  color: white;
  font-size: 18px;
  width: 102%;
  box-shadow: -6px 0 6px -6px #333, 6px 0 6px -6px #333;
  border-radius: 3px;
}

.name-and-quit-btn {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-name-header {
  font-size: 18px;
  margin-right: 1%;
}

.player-names-section {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.corporation-details {
  padding: 4px;
  border-collapse: collapse;
  color: rgb(50, 50, 50);
  background: white;
  width: 90%;
  text-align: center;
  height: 48%;
  border: 1px solid gray;
}

.corporation-details th {
  font-size: 18px;
  font-weight: bolder;
}

.corporation-details tr {
  border-bottom: 1px solid rgb(102, 101, 101);
}

ul {
  width: 95%;
  padding-left: 8px;
  padding-bottom: 2px;
  list-style: none;
}

ul > li {
  width: 100%;
  margin-bottom: 8px;
  border-bottom: 1px dotted gray;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-row-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.money-section {
  width: 15%;
  text-align: center;
  border-right: 1px solid gray;
}

.tiles-section {
  width: 40%;
  text-align: center;
  border-right: 1px solid gray;
}

.tiles {
  height: 50%;
  width: 100%;
}

.stocks-section {
  text-align: center;
  width: 45%;
}

.player-info {
  display: flex;
}

.player-money {
  color: rgb(85, 85, 85);
  font-size: 22px;
}

.player-tile {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: 0px 0px 1px black;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  border: 1px solid gray;

  height: 92%;
  width: 10%;

  color: #555454;
  background: white;
  opacity: 1;
  transition: opacity 1000ms linear;
}

.player-tile:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 1px black;
  font-weight: bold;
  color: black;
}

.player-stock > p {
  font-size: 14px;
  font-weight: bold;
}

.player-stock {
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 3px;
}

.stock-count {
  font-size: 18px;
  font-weight: bold;
}

.phoenix-color {
  background-color: #a590dc;
}

.hydra-color {
  background-color: #fc9f5b;
}

.fusion-color {
  background-color: #76c788;
}

.america-color {
  background-color: #5ca4df;
}

.zeta-color {
  background-color: #ffd761;
}

.sackson-color {
  background-color: rgb(245, 136, 143);
}

.quantum-color {
  background-color: #6bc3d1;
}

.disabled {
  background-color: lightgray;
  border: 1px solid lightgray;
  color: gray;
}

.disabled:hover {
  cursor: default;
  border: 1px solid lightgray;
  font-weight: normal;
  color: gray;
}

.waiting-area {
  height: 380px;
  width: 340px;
  border: 1px solid gray;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px gray;
}

.img-medium {
  width: 72px;
  height: 72px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(62, 62, 62, 0.3);
}

.overlay-content {
  padding: 8px;
  width: 30%;
  background: white;
  position: relative;
}

.align-content-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inactive-corporations {
  width: 90%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inactive-corporation {
  height: 90px;
  width: 80px;
  margin: 2% 2%;
  color: #454545;
  border-radius: 3px;
  cursor: pointer;
}

.inactive-corporation:hover {
  box-shadow: 0px 0px 4px black;
}

.corporation-icon {
  height: 78%;
  border-bottom: 1px solid #2d2d2d;
  font-weight: bolder;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive-corporation-name {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color: #4f4f4f;
}

.buy-stocks-header,
.sell-trade-header {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell-trade-header {
  border-bottom: 1px solid black;
}

.buy-stocks-table,
.game-results-table,
.sell-trade-table {
  width: 85%;

  margin-top: 4%;
  text-align: center;
  border-collapse: collapse;
}

.buy-stocks-table td,
.game-results-table td {
  padding: 8px;
}

.buy-stocks-table th,
.game-results-table th {
  border-bottom: 1px solid gray;
}

.buy-stocks-button {
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background: #f0f0f4;
  border: none;
  text-align: center;
}

.selected-stocks-count {
  display: flex;
  justify-content: space-evenly;
}

.btn-default {
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background: #66c993;
  color: whitesmoke;
  border: none;
  text-align: center;
}

.btn-default:focus {
  outline: none;
}

.btn-default:hover {
  box-shadow: 0px 0px 2px black;
}

.btn-medium {
  margin-top: 4%;
  width: 100px;
  padding: 4px;
  font-weight: lighter;
}

.play-again-btn {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
}

.buy-btn,
.done-btn {
  font-size: 22px;
}

.error-msg-at-buying,
.error-msg-at-sell-trade {
  margin-top: 2%;
  color: crimson;
}

.left-aligned-cell {
  text-align: left;
  /* border-radius: 10%; */
}

.right-aligned-cell {
  text-align: right;
}

.event-icon {
  width: 11%;
  height: 25px;
}

.activity-log-messageHolder {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.activity-log-msg {
  width: 89%;
  padding-left: 5px;
}

.inactive-status {
  opacity: 0.5;
}

.active-status {
  box-shadow: 0px 0px 2px black;
}
.close-button {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.close-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.show-end-popup {
  width: 100px;
  padding: 4px;
  font-weight: lighter;
  display: none;
}

#merger-img {
  width: 15%;
}

.info-icon {
  width: 45px;
  height: 45px;
  margin-top: 0.5%;
}

.joined-player-names {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.joined-player-names p {
  padding: 5px;
  border-bottom: 1px dotted #1093d5;
  text-align: center;
}

.name-span {
  text-shadow: 1px 1px 12px #f8e206;
  font-size: 20px;
}

.info-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.info-card h1 {
  margin-bottom: 10px;
}

.info-card table {
  padding: 4px;
  border-collapse: collapse;
  color: rgb(50, 50, 50);
  text-align: center;
  border: 1px solid gray;
  height: 100%;
  width: 100%;
}

.info-card td {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  height: 10%;
  width: 40%;
}
